RewriteEngine On
# LES NEWS
RewriteRule news/([0-9]+)$ news.php?id_news=$1 [L]
RewriteRule news$ news.php [L]
# LES PERSONNES
RewriteRule personnes/([0-9]+)$ personnes.php?id_personnes=$1 [L]
RewriteRule personnes$ personnes.php [L]
# AUTH
RewriteRule deconnect$ auth_api.php?delog [L]
RewriteRule auth$ auth_api.php [L]
# PRODUCT
RewriteRule product/([0-9]+)$ product.php?id=$1 [L]
RewriteRule product$ product.php [L]
# CATEGORY
RewriteRule category/([0-9]+)$ category.php?id=$1 [L]
RewriteRule category$ category.php [L]